form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.4);
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    border-width: 2px;
    border-color: rgb(233, 164, 16);
    border-style: solid;
}
html{
    background: radial-gradient( aqua, teal, black);
    color: white;
    height: 100%;
    text-align: center;
}
input{
    background-color: rgb(233, 164, 16);
    color: indigo;
    border: 2px solid  indigo;
    box-shadow: indigo 3px 3px 3px;
    
}

button{
    background-color: rgb(219, 146, 50);
    color:  (41, 23, 0);
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    box-shadow: indigo 3px 3px 3px;
}
form, p{
    color:rgb(236, 178, 71);
    font-size: 20px;
    text-shadow: black 2px 2px 2px;
}
section img{
    box-shadow: rgb(0, 0, 0) 20px 20px 30px;
}
section{
    font-family: 'Fira Sans', sans-serif;
}